


$navbar-height: 70px;

@media screen and (max-width: 337px) {
  .album-cover{
    margin-top: -145px;
  }

}


.splash-bg{
  background: #6e808c;
	height: 370px;
	width: 100%;
  background:
      linear-gradient(
        rgba(42,42,62,0.60),
        rgba(0, 0, 0, 0.35)
      ),
      url("/img/lajolla2.png");


    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
