@import 'bourbon/bourbon';

@mixin v-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin font-general {
  font-family: 'Muli', sans-serif;
}

@mixin font-header {
  font-family: 'Montserrat', sans-serif;
}

#delete {
  height: 100%;
  width: 100%;

  background: rgba(43,22,164,1);/* Old Browsers */
  background: -moz-linear-gradient(-45deg, rgba(43,22,164,1) 0%, rgba(198,104,217,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(43,22,164,1)), color-stop(100%, rgba(198,104,217,1)));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(43,22,164,1) 0%, rgba(198,104,217,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(43,22,164,1) 0%, rgba(198,104,217,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(43,22,164,1) 0%, rgba(198,104,217,1) 100%); /* IE 10+ */
  background: linear-gradient(135deg, rgba(43,22,164,1) 0%, rgba(198,104,217,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b16a4', endColorstr='#c668d9', GradientType=1 );/* IE6-9 fallback on horizontal gradient */

  text-align: center;
  @include font-general;

  .inner {
    padding: 3em 5em 1.5em;

    display: inline-block;
    @include v-center;

    background-color: #fff;

    h3 {
      margin: 0;
      margin-bottom: 1.5em;

      text-transform: uppercase;
      @include font-header;
      font-size: 0.8em;
      font-weight: bold;
      color: rgb(58, 58, 58);
    }

    .song {
      margin-bottom: 2.5em;

      text-transform: lowercase;
      font-size: 0.8em;
      color: rgb(164, 164, 164);
    }

    .divider {
      margin-bottom: 1em;
      border-bottom: 1px solid rgb(196, 196, 196);
    }

    button {
      margin: 0 1em;
      padding: 0.5em 2em;
      border: none;
      border-radius: 0;

      display: inline-block;
      box-shadow: 1px 1px 2px rgb(165, 165, 165);
      text-shadow: none;
      appearance: none;

      text-transform: uppercase;
      font-size: 0.7em;
      line-height: 100%;
      @include font-general;
      color: #fff;
    }

    button:focus {
      outline: none
    }

    button#delete-button {
      background-color: rgb(58, 134, 198);
    }

    button#cancel-button {
      background-color: rgb(213, 66, 63);
    }
  }
}
