/*CSS for playlist and album indexes */

$navbar-height: 70px;
$img-dimensions: 8em;
$index-hover-color: #7C7C7C;

@media (max-width: 700px) {
	.index {
		width: 90%;
	}
}

.index {
	position: relative;
	margin: 1em auto;
	margin-top: $navbar-height + 20px;
	width: 60%;


	span {
		display: inline-block;
		padding-right: 0.5em;
	}

	span.index-title {
		margin-bottom: 0.5em;
		font-family: 'Muli', sans-serif;
		font-weight: 600;
		font-size: 1.75em;
	}

	span#index-sort {
		font-family: 'Muli', sans-serif;
		font-size: 0.5em;
	}

	select#id-filter {
		border: 0px;
		outline: 0px;
	}

	#btn-index {
		display: inline;
		float: right;

		button#playlist-btn {
			background-color: transparent;
			border: none;

			a {
				font-family: 'Muli', sans-serif;
				text-decoration: none;
				color: #000;

				&:hover {
					text-weight: 800;
					color: $index-hover-color;
				}

			}

		}
	}



	#index-grid {
		text-align: center;

		.title-line {
			border-bottom: 1px solid #AAAAAA;
			margin-bottom: 2em;

		}

		.index-element {
			display: inline-block;
			padding: 0 1em;
			margin-top: 0.1em;
			margin-bottom: 2em;

			.index-img {
				height: $img-dimensions;
				width: $img-dimensions;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
			}

			p {
				margin: 0;

				a {
					font-family: 'Montserrat', sans-serif;
					font-size: 0.75em;
					font-weight: 700;
					color: #000;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						color: $index-hover-color;
					}
				}

			}

			.index-artist {
				font-family: 'Muli', sans-serif;
				font-size: 0.60em;
				color: #7C7C7C;
				text-transform: uppercase;
			}
		}
	}
}



 #playlist-submit{
	 margin: 0 auto;
	 display: block;
	 border: none;
	 background-color: white;
	 /*padding: 5px;*/
	 width: 100px;
	 color: white;
	 height: 30px;
	 /* Rectangle: */
	 background: #E35885;
	 box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
 }
