
$navbar-height: 70px;

@media screen and (max-width: 337px) {
  .login-form{
    margin-top: 200px;
  }

}


.logo{
  img{
    width:25%; height:25%; display: block; margin: 0 auto; overlay: true; margin-top: -95px;
  }
}


.site-header {
	background: #6e808c;
	height: 70px;
	width: 100%;

  /* Mask: */
  background: rgba(42,42,42,0.60);
}

.site-logo {
	display: inline-block;
	height: 100px;
	/*margin: 15px;*/
	vertical-align: middle;

	width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#ucsd-edition {

}

.login-form {
  background-image: linear-gradient(-222deg, #6291B0 0%, #5A6AC0 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
  padding-top: 80px;
  max-width: 380px;
  margin:0 auto;
  margin-top: 150px;
}

.login-form-container{
  /*bottom:0;*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*height: 80%;*/
  /* Rectangle 29: */
  opacity: 0.84;
  background: #F5F5F5;
  padding: 40px;
  /* Rectangle 27: */
}




.form-input{
	direction: ltr;
    height: 44px;
    font-size: 16px;
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text]
{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    /*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
    border:none;
    padding-left: 20px;
    /* Rectangle 2: */
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(94,126,184,0.50);
}




.submit-button {
	/*button css*/
  width: 100%;
  color: white;
   font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    /*background-color: #4d90fe; */
    /*background-color: rgb(104, 145, 162);*/
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    /*-moz-border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/
    /*border-radius: 3px;*/
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;

    /* Rectangle 2: */
    /* Rectangle 2: */
    background: #EA1454;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
        margin-bottom: 8px;
    /* SIGN IN: */
    /*font-family: AvenirNext-Medium;*/
    /*font-size: 12px;*/
    /*color: #FFFFFF;*/
    /*letter-spacing: 2px;*/
    a {
      text-decoration: none;
      color: white;
    }
}

.submit-button:hover,
.submit-button:active,
.submit-button:focus {
    /*background-color: rgb(65, 98, 112);*/
}

.forgot-password{
    color: rgb(104, 145, 162);
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.register{
    padding-left: 1.3cm;
}

.error{
    color: rgb(206, 63, 2);
    display:none;
}
.valid{display:none;}


#registerButton{
  /* Rectangle: */
  background: none;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.50);
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
  height: 40px;
  width: 120px;
  font-size: 1em;
}

#register-link{
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  border: none;
  width: 120px;
  height: 40px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
  background-color: #E35885;


}



#login-form-container{
  background-color: white;
  padding: 50px;

  #submit{
    border: none;
    background-color: white;
    /*padding: 5px;*/
    width: 100px;
    color: white;
    height: 30px;
    /* Rectangle: */
    background: #E35885;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
  }
}
