
#register-form{
  margin: 0 auto;
  display: block;

}

#register-form > input{
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 1.3em;
  margin-top: -15px;
  font-size: 1.0em;
  padding-left: 10px;
}

.login-form-container h4{
  text-align: center;
}



#login-form{
  margin: 0 auto;
  display: block;

}

#login-form > input{
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 1.3em;
  margin-top: -15px;
  font-size: 1.0em;
  padding-left: 10px;
}


#register-form-container{
  background-color: white;
  padding: 50px;

  #submit{
    border: none;
    background-color: white;
    /*padding: 5px;*/
    width: 100px;
    color: white;
    height: 30px;
    /* Rectangle: */
    background: #E35885;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.50);
  }
}
