
<!DOCTYPE html>
<html lang=en>
<head>
<title> Login page </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Muli" rel="stylesheet">
  <link rel="stylesheet" href="css/main.min.css" />
</head>

<body>

	<header>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li class = "nav-link"><a href="logout.html">LOGOUT</a></li>
        <li class = "nav-link"><a href="faq.html">FAQ</a></li>
        <li class = "nav-link"><a href="team.html">TEAM</a></li>
    </ul>
  </header>



  <div class="login-form">
    <div class="logo overlap">
      <img src="/img/ucsd-edition.png" alt="ucsd" >
    </div>

    <div id="register-form-container">
      <h4>Create account</h4>
      <form id="register-form" v-on:submit.prevent="doRegister">
        <input v-model="user.email" type="text" name="email" placeholder="Email"><br>
        <input v-model="user.password" type="password" name="password" placeholder="Password"><br>
        <input id="submit" type="submit" value="Register">
        <p id="errmsg"> </div>
      </form>
    </div>

  </div> <!-- /register form -->



<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script src="js/output.min.js"></script>
<script src="js/email-register.min.js"></script>

<script> // Automatically log out the user if they're on this page.
firebase.auth().signOut().then(function() {
  console.log("Signed out")
}, function(error) {
  // An error happened.
  console.log("An error happened")
  console.log(error)
});
</script>

</html>
