<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width", height="device-height", initial-scale="1.0" />
  <title>Playlists</title>

  <link rel="stylesheet" href="css/main.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Muli|Montserrat|Montserrat:600|Muli:600|Muli:800" rel="stylesheet">
</head>

<body>

  <header>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li class = "nav-link"><a href="logout.html">LOGOUT</a></li>
        <li class = "nav-link"><a href="faq.html">FAQ</a></li>
        <li class = "nav-link"><a href="team.html">TEAM</a></li>
    </ul>
  </header>

  <div id="playlist-crud-app"> <!-- Vue APP tag -->
    <section class="index" id="playlist-index">
    <div id="index-header">
      <span class="index-title">Playlists</span>

      <div id="btn-index">
        <button id="playlist-btn" @click="showCreateModal = true"><a href="#">ADD PLAYLIST</a></button>
        <addplaylistmodal formname="Create Playlist" v-if="showCreateModal" @close="showCreateModal = false"></addplaylistmodal>

      </div><!-- #btn-index -->
    </div>



    <div id="index-grid">
      <div class="title-line"></div><!-- .title-line -->

      <div class="index-element" v-for="playlist in playlists">
        <img v-on:click="openPlaylist(playlist)" v-bind:src="playlist.imgurl" class="index-img" alt="album-img">
        <p><a v-on:click="openPlaylist(playlist)">{{playlist.name}}</a></p>

        <button v-on:click="removePlaylist(playlist)">Delete</button>
        <button @click.prevent="editPlaylist(playlist)">Edit</button>

        <editplaylistmodal formname="Edit Playlist"
                           v-if="showEditModal"
                           @close="showEditModal = false">
        </editplaylistmodal>




      </div><!-- .index-element -->

    </div><!-- #index-grid -->
  </section><!-- #playlist-index -->
  </div> <!-- Vue APP tag -->

<!--
  <footer>
    <div id="line"></div>
    <p>Copyright Alvin Ho, David Luu, Lauren Liu</p>
  </footer>
-->



<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <slot name="body">

              <div class="playlist-wrapper">
                <center><h2>{{formname}}</h2></center>
                <form v-on:submit.prevent="addPlaylist">
                  <div class="playlist-element">
                    <label> PLAYLIST NAME </label>
                    <input v-model="playlistname" class="playlist-input" type="text" name="playlist-name" placeholder="Playlist Name" />
                  </div><!-- .playlist-element -->
                  <div class="playlist-element">
                    <label> PLAYLIST DESCRIPTION </label>

                    <input v-model="playlistdescription" class="playlist-input" type="text" name="playlist-desc" placeholder="Playlist Description" />
                  </div><!-- .playlist-element -->
                  <input type="file" @change="onFileChange">
                  <p id="upload-progress"> Upload progress: {{playlistuploadprogress}}</p>
                  <input id="playlist-submit" v-on:submit.prevent="addPlaylist" type="submit" value="Submit"><br>
                  <button type="button" @click="$emit('close')">CANCEL</button>

                </form>
              </div><!-- .playlist-wrapper -->

            </slot>



          </div>
        </div>
      </div>
    </div>
  </transition>
</script>



<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script src="js/output.min.js"></script>

<script src="js/index.min.js"></script>
<script src="js/auth-check.min.js"></script>


</body>

</html>
