<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width", height="device-height", initial-scale="1.0" />
  <title>Playlist</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli" rel="stylesheet">
  <link rel="stylesheet" href="css/main.min.css" />
</head>

<body>
  <header>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li class = "nav-link"><a href="logout.html">LOGOUT</a></li>
        <li class = "nav-link"><a href="faq.html">FAQ</a></li>
        <li class = "nav-link"><a href="team.html">TEAM</a></li>
    </ul>
  </header>



  <div id="playlist-banner">
    <h1>{{current_playlist[0].name}}</h1>
    <h4>{{current_playlist[0].description}}</h4>
    <p>Playlist · {{num_songs.length}} Songs</p>
  </div><!-- .playlist-banner -->

  <div id="playlist-album-img">
    <img v-bind:src="current_playlist[0].imgurl" alt="playlist album cover" />
  </div><!-- #playlist-album-img -->


  <div id="playlist-body">
    <p>I love cheese, especially airedale queso. Cheese and biscuits halloumi cauliflower cheese cottage cheese swiss boursin fondue caerphilly. Cow port-salut camembert de normandie macaroni cheese feta who moved my cheese babybel boursin.</p>
  </div><!-- #playlist-body -->


  <div id="playlist-details-app">

  <div class="songs">
    <table>
      <thead>
        <th>SONGS</th>
        <th><a href="#" id="add-song" @click.prevent="showCreateModal = true">ADD SONG</a></th>
        <!-- use the modal component, pass in the prop -->
        <addsongmodal v-if="showCreateModal" @close="showCreateModal = false"></addsongmodal>
      </thead>


      <tr v-for="song in songs">
        <!--  Song title and tags -->
        <td>
          <span class ="songs-list-details"><a href="/song-details.html" id="song-list-title">{{song.title}} </a> · {{song.artist}}</span>
        </td>
        <td>
            <!-- Song buttons -->
            <div class="songs-buttons">
              <span class="song-btn">4:19</span>

              <div class="dropdown" id="dropdown-menu">
                <button class="dropbtn">Play</button>
                <div class="dropdown-content" id="#dropdown-play">
                  <a href="">SPOTIFY</a>
                  <a href="">ITUNES</a>
                  <a href="">YOUTUBE</a>
                </div> <!--.dropdown-content-->
              </div><!--.dropdown #dropdown-play-->

              <a @click.prevent="editSong(song)" class="song-btn">Edit</a>
              <editSongModal v-if="showEditModal" @close="showEditModal = false"></editSongModal>


              <div class="dropdown" id="dropdown-menu">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                  <a href="/share.html">SHARE</a>
                  <a v-on:click="removeSong(song)">DELETE</a>
                </div><!--.dropdown-content-->
              </div><!-- .dropdown -->
          </div><!-- #song-btn-wrapper -->
        </td>
      </tr> <!-- End of single entry -->



    </table>
  </div>
  <!-- End of table box -->

  </div> <!-- End of playlist details app for Vue container -->




<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <slot name="body">
              	<div class="song-wrapper">
              		<div class="song-text">
              			<form v-on:submit.prevent="addSong">
              				<div id="song-title"><label>SONG TITLE</label>
                        <input v-model="songtitle" type="text" name="song-title" placeholder="Song Title"/></div><!-- #song-title -->
              				<div id="song-artist"><label>SONG ARTIST</label>
                        <input v-model="songartist" type="text" name="song-artist" placeholder="Song Artist" /></div><!-- #song-artist -->
              				<div id="song-link"><label>SONG LINK</label>
                        <input v-model="songlink" type="text" name="song-link" placeholder="Link to Song"></div><!-- #song-link -->
              				<div class="btn-wrapper">
                        <input type="submit" v-on:submit.prevent="addSong" value="SUBMIT"/>
              					<button type="button" @click="$emit('close')">CANCEL</button>
              				</div><!-- .btn-wrapper -->
              			</form>
              		</div><!-- .song-text -->
              	</div><!-- .song-wrapper -->
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>




<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script src="js/output.min.js"></script>
<script src="js/playlist-detail.min.js"></script>
<script src="js/auth-check.min.js"></script>



</body>

</html>
